@import "colors";
img{
    height: 100%;
}
li{
    height: 50px;
}
td{
    height: 100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $color1;
}
nav{
    background-color: $color2;
    width: 100%;
    padding: 10px;
    border: 3px solid $color2;
}
ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
li{
    padding-left: 20px;
    padding-right: 20px;
}
.ft{
    display: flex;
    min-width: 100%;
    justify-content: center;
    color: #632f53;

}
.gridinicio{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(200px, auto);
}
.img-fluid{
    width: fit-content;
    height: fit-content;
}
.colorfnd{
    background-color: white;
}
.productos{
    width: 70%;
    display: flex;
    justify-content: left;
}
.carrito{
    width: 30%;
    background-color: $color1;
    height: 100vh;
}
#carrito{
    display: none;
}